body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin: 150px;
}

.loader {
    border: 45px double orange;
    border-left: 45px double  red;
    border-top: 45px double cyan;
    border-radius: 50%;
    width: 320px;
    height: 320px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
